.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid {
  border-left: 5px solid red;
}

.alert {
  min-height: 2rem;

  &-danger {
    color: red;
    background-color: rgba(255, 0, 0, 0.397);
  }
}

.emptySpace {
  position: relative;
  height: 100vh;
}

.control-additional-control {
  display: inline-block;
}
